*{
    background-color: #fff2e1;
    font-family: cursive;
    font-size: 110%; 
}

header{
    
    font-family :myFirstFont;
    font-size: 90%;
} 
#d1{
    font-family :greatVibes;
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    margin: -80px 0 0 0;
    width: 100%;
    display: contents
}

#d2{
    
}


#logo {
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
}
@font-face {
  font-family: myFirstFont;
  src: url(fonts/GreatVibes-Regular.ttf);
}



#title {
    color: #647eff;
    font-family :myFirstFont;
    font-size: 180%;
}
