*{
    background-color: #fff2e1;
    font-family: cursive;
    font-size: 110%; 
} 
#d1{
    font-family :greatVibes;
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    width: 100%;
    display: contents;
}



#logo {
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
}
@font-face {
  font-family: great-vibes;
  src: url(fonts/GreatVibes-Regular.ttf);
}
#title {
    color: #647eff;
    font-family :great-vibes;
    font-size: 180%;
    margin-top: -4px;
}
